.breakout {
  padding: 1em;
  background: #003262;
  color: white;
  border: 2px solid #FDB515;
  border-radius: 10px;
}

.discussion-question { 
  padding: 1em; 
  background: #DDD5C7;
  color: #46535E;
  border: 2px solid #00A598;
  border-radius: 10px;
}

.theorem{
  padding: 1em;
  background: #B9D3B6;
  color: #584F29;
  border-radius: 10px;
}

.definition{
  padding: 1em;
  background: #CFDD45;
  color: #584F29;
  border-radius: 10px;
}

.example{
  padding: 1em; 
  background: #46535E; 
  color #DDD5C7; 
  border-radius: 10px;
}

.slide{
  padding: 1em; 
  color: #584F29;
  border-radius: 10px;
  border: 2px solid #584F29;
}